{% extends 'base.html' %}
{% block title%} Store {% endblock title%}
 
     
{% block body%}
<div class="container">
 <div class="col">
  <div class="container">
 <div class="row">
  
  “A room without books is like a body without a soul.”
― Marcus Tullius Cicero
</div>
</div>
 <div class="container">
<div class="row">
 “Good friends, good books, and a sleepy conscience: this is the ideal life.”
― Mark Twain
</div>
</div>
 <div class="container">
<div class="row">
“Fairy tales are more than true: not because they tell us that dragons exist, but because they tell us that dragons can be beaten.”
― Neil Gaiman, Coraline
  </div>
  </div>
  
  </div>

</div>
        
{% endblock body%}